<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sms_lorusso_silvia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".DetailActivity"></activity>
        <activity android:name=".Rimuovi_Piatto_Activity" />
        <activity
            android:name=".Aggiungi_Piatto_Activity"
            android:label="Aggiungi piatto" />
        <activity
            android:name=".Modifica_menu_activity"
            android:label="Modifica menu" />
        <activity
            android:name=".Visualizza_menu_activity"
            android:label="Menu" />
        <activity
            android:name=".Visualizza_comande_activity"
            android:label="Ordini" />
        <activity
            android:name=".Cliente_Activity"
            android:label="Cliente" />
        <activity
            android:name=".RistoratoreActivity"
            android:label="Ristoratore" />
        <activity
            android:name=".Seconda_Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>